.p {
    font-family: "seriff";
    font-size: 18px;
    font-weight: 400;

    /* color: #707070; */
}

body {
    background-color: black;
}

label {
    display: inline-block;
    margin-top: 10px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn-default {
    background-color: transparent;
    border: none;
    text-shadow: none;
    padding: 0px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    transition: all 1s ease 0s;
    color: #fff;
    margin-right: 15px;
}

form,
.form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    background-color: #121619;
}

.select2-selection--single {
    border: none;
}

.select2 {
    border: none;
    background: #1c1c1c;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-selection__rendered {
    background-color: #494b4c;
    color: #7d8386 !important;
}

.select2-container {
    background-color: #494b4c;
    border: none;
}

.select2-selection--single {
    border: none !important;
    background: #494b4c;
}