.btn {
    background-color: black;
  }
body{
  background-color: black;
}
  .btn:hover {
    background-color: orange;
  }
  .table {
    min-height: 50vh;
    border: 20px;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 10%;
    padding: 2em;
  }
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .bttn {
    background-color: white;
    padding: 12px;
    border-radius: 6px;
    border: none;
  }

  .bttn:hover {
    background-color: orange;
    color: white;
  }
